.relatedproducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 60vh;
}
.relatedproducts h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.relatedproducts hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.relatedproducts-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}



/* -we use css media queries for making our site responsive.
*) we'll target 4 screen resolutions or widths: 1280px, 1024px,800px and 500px(mobile devices). */

/* THESE CHANGES WILL BE APPLIED WITH THE HELP OF MEDIA QUERIES WHEN THE SCREEN WIDTH REACHES 1280PX OR BELOW.*/
@media(max-width:1280px){
    .relatedproducts{
        height: 40vh;
    }
    .relatedproducts h1{
        font-size: 40px;
    }
    .relatedproducts hr{
        width: 160px;
        height: 4px;
    }
    .relatedproducts-item{
        gap: 20px;
        margin-top: 30px;
    }
}

/* THESE CHANGES WILL BE APPLIED WITH THE HELP OF MEDIA QUERIES WHEN THE SCREEN WIDTH REACHES 1024PX OR BELOW.*/
@media(max-width:1024px){
    .relatedproducts{
        height: 40vh;
    }
    .relatedproducts h1{
        font-size: 30px;
    }
    .relatedproducts hr{
        width: 120px;
        height: 3px;
    }
    .relatedproducts-item{
        gap: 15px;
        margin-top: 20px;
    }
}

/* THESE CHANGES WILL BE APPLIED WITH THE HELP OF MEDIA QUERIES WHEN THE SCREEN WIDTH REACHES 800PX OR BELOW.*/
@media(max-width:800px){
    .relatedproducts{
        height: 40vh;
        gap: 6px;
    }
    .relatedproducts h1{
        font-size: 20px;
    }
    .relatedproducts hr{
        width: 100px;
    }
    .relatedproducts-item{
        gap: 5px;
    }
}

/* THESE CHANGES WILL BE APPLIED WITH THE HELP OF MEDIA QUERIES WHEN THE SCREEN WIDTH REACHES 500PX OR BELOW.*/
@media(max-width:500px){
    .relatedproducts{
        height: 40vh;
        margin-bottom: 300px;
    }
    .relatedproducts h1{
        font-size: 20px;
    }
    .relatedproducts hr{
        width: 100px;
    }
    .relatedproducts-item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}